button {
    width: 120px;
    height: 40px;
    background-color: #6F9A61;
    font-weight: bold;
    border-radius: 12px;
    border: 1px solid #6F9A61;
    text-align: center;
    box-sizing: border-box;
    margin-top: 16px;
    text-transform: uppercase;
}

button a {
    text-decoration: none;
    color: #fff;
  
}

button a:hover {

    color: #6F9A61;
    background-color: #fff;
    text-decoration: none;

}

button:hover {

    color: #6F9A61;
    background-color: #fff;
    border: 1px solid #6F9A61;
}

.blog {
    border: 2px solid #ddd;
    width: 282px;
    border-radius: 15px 15px 0 0;
}

.blogImg {
    /* max-height: 170px !important; */
    min-height: 300px;
    object-fit: cover;
}
.heade{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 30px auto;
}
.ico{
    color:#6F9A61;
    width: 150px;
}

