/* .modal-open{
    background-color: #D9D9D9
    ;
} */
.img-profile{
    height: 30vh;
    width: 100%;
}
.avatar{
    /* background-image: url(../assests/avatar.jpg); */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 100px;
    margin-top: -60px;
}
.infoprofile{
    margin-top: 20px;
}
@media(min-width:768px){
    .infoprofile{
           margin-left: 140px;
    } 
}
@media(max-width:768px) and (max-width : 992px){
    .avatar{
        text-align: center !important;
        left: 0;
        transform: translate(-60%,0);

    } 
    .infoprofile{
        text-align: center !important;
        margin-right: 20px;
    }
    .profile-content{
        display: block !important;
        text-align: center;
        margin-left: 15px;
    }
    .content{
        width: 100px !important;
        left: 0;
        transform: translate(-245%,0);
    }
    
}
.btnfollow{
    outline: none;
    border: none;
    padding: 7px 10px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    width: fit-content !important;
    border-radius: 10px;
    background-color: var( --main-color);
    margin-top: 20px;
    text-decoration: none;
    margin-right: 70px;
    font-weight: 400;
}
.btnfollow:hover{
    color: var( --main-color);
    border: 1px solid  var(--main-color);
}

.btn-newpost{
    color: white;
    cursor: pointer;
    font-weight: bold;
    background-color: var( --main-color);
    margin-top: 20px;
    margin-right: 25px;
    padding:  5px 10px;
    border-radius: 10px;
}
.input-post{
    border: none !important;

}
.post-card{
    margin-left: 250px;
    width: 800px !important;
}
@media(max-width:992px){
    .post-card{
        width: 490px !important;
    }
    .comment{
        width: 320px !important;
    }
    .modal-footer1{
        text-align: center !important;
        margin-right: 220px !important;
        margin-bottom:20px !important;
        width: 50px;
        height: 50px;
        
    
    }
    .btn-post2{
        width: 200px !important;
        height: 60px !important;
        font-size: 25px !important;
    }
    .btn-post2:disabled{
        background-color:#DADADA !important;
    }
      
}
.btn-post2{
    width: 400px;
    height: 70px;
    /* background-color: #DADADA !important; */
    font-size: 28px;
}
.btn-post2:disabled{
    background-color:#DADADA !important;
  
}
.modal-content{
    width: 75% ;
    margin-left: 15%;
    
}
.modal-footer1{
    text-align: center !important;
    margin-right: 70px;
    

}
.fade {
    background-color:rgba(217, 217, 217, 0.8);
    
}
/* popup */
/* popup */
/* Add Question page */


/* Add Question page */
