
/* Global css */
.shadow{
    box-shadow: 0 0 0 0px rgba(0,0,0,0.1);
}
:root {
    --main-color:#6F9A61;
    --greenTrans-color: rgba(111,154,97,70%);
    --lightGreen-color:#D5DED2;
    --grey-color: #333333;
    --main-transition:0.3s;
  }
/* SignUp */
.parent{
    display:flex;
    align-items:center;
    justify-content:center;
    height: 87.3vh; 
    background-image: url(../assests/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.verify{
    height:  716.3px; 

}
.form{
    width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
} 
input {
    padding: 10px 20px;
    width: 100%;
    outline: none;
    border: 1px solid rgba(102,102,102 , 35%);
    border-radius: 10px;
    transition: 0.3s;
    margin-bottom: 10px;
    text-decoration: none;

}
label{
    margin-bottom: 5px;
}

input:focus {
    border: 1px solid #6F9A61;
}

input::placeholder{
    color: rgba(0,0,0,0.3);
}
.register{
    display: flex;
    align-items:center;
    justify-content:center;
    margin-top: 40px;
}
.register button , .register-navBar {
    outline: none;
    border: none;
    padding: 10px 20px;
    color: white !important;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
    border-radius: 32px;
    background-color: #6F9A61;
    margin-top: 10px;
    text-decoration: none;
}
.register-navBar {
    border: 1px solid transparent;
    padding: 5px 5px;
}
.register button:hover , .register-navBar:hover{
    background-color: white;
    border: 1px solid #6F9A61;
    color: #6F9A61 !important;
}
.error{
    color: red;
    font-size: 14px;
    margin-top: 0;
}
.pAcount{
    color: var(--grey-color);
    font-size: 14px;
    margin-top: 0;

}

/* Chat */
.chatbutton{
    z-index: 1;
    margin-top:3px;
     margin-left:-95px;
      border-radius:10px; 
      color:white;
      width: 90px;
}
.chatbutton:hover{
 background-color: white;
    border: 1px solid #6F9A61;
    color: #6F9A61;
}
.chat-A{
    text-decoration: none;
}
.chat-name{
    color: black;
}

/* Hiring */
